@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


:root {
  --color-secondary: #7D3C98;
  --dark-blue: #172755;
  --color-white: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

body {
  min-height: 100%;
  background-color: #F5F5F5;
}

/* Start Header section */
.header {
  top: 0%;
  left: 0%;
  padding-top: 50px;
  height: 140px;
  background-color: #0b57a2;
}

.header__container {
  display: flex;
  justify-content: center;

}

.header__title .icon-title {
  color: white;
  padding-right: 30px;

}

.header__seeker-container {
  width: 30%;
  height: 40px;
  display: flex;
}

.header__input {
  width: 350px;
  height: 40px;
  border-radius: 4px 0px 0px 4px;
  border: none;
}

.header__seeker-button-container {
  display: inline-flex;
  height: 42px;
  padding: 13px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 0px 4px 4px 0px;
  background: #EF2A82;
}


.header__links {
  display: flex;
  padding-left: 20px;
  padding-right: 10px;
  height: 40px;
  padding-top: 5px;
}

.header__link-text {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 5px;
  height: 40px;
  width: 165px;
}

.link-text__long {
  color: #FFCCB4;
  text-decoration: none;
}

.link-text__short {
  text-decoration: none;
  color: white;
  padding-top: 5px;
}

.link-separator {
  width: 0px;
  height: 40px;
}

.header__link-icon {
  height: 40px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 10px;
  margin-top: 5px;
}

.icon-link {
  color: white;
  font-size: 26px;
  margin-right: 5px;
}



/* END Header section */


/* START NAVBAR section */
.menu-toggle {
  display: none;
}

.navbar {
  background-color: #172755;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 250px;
  padding-right: 120PX;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar__links {
  display: flex;
  list-style: none;
}

.navbar__links a {
  padding: 20px;
  color: #ccd1d175;
  text-decoration: none;
}

.navbar__container-session {
  display: flex;
  margin-right: 150px;
}

.navbar__session-links {
  padding: 25px;
  color: #8794BA;
  font-size: 16px;
}

.link-button {
  display: inline-flex;
  height: 40px;
  padding: 10px 53px;
  flex-shrink: 0;
  border-radius: 68px;
  border: 1px solid #465B95;
  margin-top: 15px;
}

.navbar__menu-label {
  padding: 10px;
  background-color: #172755;
  cursor: pointer;
  display: none;
  margin: 0 auto;
  color: white;
}

.navbar__menu-label:hover {
  font-weight: bold;
}

.menu-toggle:checked+.navbar .navbar__links {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.menu-toggle:checked+.navbar .navbar__menu-label {
  display: block;
}

/* END NAVBAR section */

.container-products {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 40px;
  display: flex;
}

.container-img-cocooil {
  position: relative;
  width: 54%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container-img-cocooil li {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity .5s;
}
#slide1, #slide2 {
  opacity: 0;
}

#slide1:checked~.container-img-cocooil .slider1,
#slide2:checked~.container-img-cocooil .slider2 {
  opacity: 1;
}

.img-cocooil {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.127);
}

.slider-button {
  position: absolute;
  top: 50%;
  font-size: 19px;
  color: black;
  background-color: var(--color-white);
  border: none;
  padding: 9px;
  border-radius: 50%;
  border: solid 1px black;
  z-index: 1;
  width: 43px;
}

.left-button {
  left: 10px;
  transform: translateY(-50%);
}

.right-button {
  right: 10px;
  transform: translateY(-50%);
}

.container-info-products {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  justify-content: center;
}

.info-product {
  width: 40%;
  box-shadow: 0px 0px 4px 0px rgba(54, 53, 53, 0.05);
  border-radius: 8px;
  border: 1px solid var(--color-white);
  background-color: white;
}

.list-1 {
  margin-bottom: 25px;
}

.product-1,
.product-3 {
  margin-right: 25px;
}

.container-porduct-img {
  width: 100%;
  height: 120px;
  text-align: center;
}

.img-air {
  width: 180px;
}

.description-product {
  padding-left: 10px;
  padding-bottom: 50px;
  padding-top: 10px;
}

.description-product .title-product {
  font-size: 10px;
  color: #A6A6A6;
}

.description-product .text-product {
  font-size: 16px;
  color: #6C6B6A;
}

.description-product .characteristics-porduct {
  font-size: 16px;
  color: #6C6B6A;
}

.description-product .price-product {
  font-weight: bold;
  color: #363535;
  font-weight: 700;
  font-size: 20px;
}

.categories {
  margin-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 65px;
  width: 90%;
}

.categories h1 {
  font-size: 20px;
  margin-bottom: 22px;
}

.contenedor-slider {
  white-space: nowrap;
}

.card-slider {
  display: inline-block;
  margin-right: 19px;
  border-radius: 8px;
  border: 1px solid #D8D8D8;
  background-color: white;
  box-shadow: 0px 4px 16px 0px rgba(54, 53, 53, 0.10);
  width: 278px;
}

.card-slider img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.text-card {
  font-size: 17px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  padding: 9px;
  text-shadow: 0px 0px 4px rgba(54, 53, 53, 0.05);
}

.information {
  background-color: white;
  padding-top: 60px;
  padding-left: 160px;
  padding-right: 180px;
  padding-bottom: 60px;
}

.container-information {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-information {
  display: flex;
}

.text-information {
  padding-left: 15px;
}

.title-information {
  padding-bottom: 40px;
}

.sabermas {
  color: #D14D41;
  font-weight: 600;
  letter-spacing: -0.14px;
  font-size: 14px;
}

.icon-information {
  width: 86.589px;
  height: 103.72px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #ffccb46d;
  padding-top: 25px;
  padding-left: 18px;
}

.icon-info {
  display: flex;
  width: 53.286px;
  height: 51.22px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  opacity: none;
  color: rgba(209, 77, 65, 1);
}

.explore {
  padding-top: 60px;
  padding-right: 90px;
  padding-left: 90px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.container-explore {
  display: flex;
}

.card-explore {
  width: 663px;
  height: 400px;
  box-shadow: 0px 4px 12px 0px rgba(54, 53, 53, 0.15);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
}

.card-explore img {
  border-radius: 12px;
}

.collection-floors {
  margin-right: 19px;
  background: linear-gradient(180deg, #0CEACF 0%, #0BA18F 100%);
}

.collection-paint {
  background: linear-gradient(180deg, #F7CB20 0%, #F8A904 55.73%);
}

.card-explore-text {
  padding-top: 30px;
  padding-left: 25px;
}

.card-explore-subtitle {
  color: var(--color-white);
  font-size: 20px;
  opacity: 0.8;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.2px;
  margin-bottom: 16px;
}

.card-explore-title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: -0.48px;
  padding-bottom: 70px;
}

.card-explore-button {
  display: flex;
  width: 276.458px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.30);
  border: none;
  color: white;
}

.grup {
  display: flex;
  align-items: end;
}

footer {
  margin-top: 80px;
}

.footer-first-line {
  width: 100%;
  height: 30px;
  background-color: #EF2A82;
}

.container-footer {
  width: 100%;
  height: 277px;
  background-color: var(--dark-blue);
  flex-shrink: 0;
  padding-top: 100px;
  padding-left: 180px;
  padding-right: 180px;
}

.hr-footer {
  color: var(--color-white);
  opacity: 0.2;
}

.menu-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.menu-footer-links {
  display: flex;
  color: var(--text-secondary, #8794BA);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 36px;
}



.menu-footer-networks {
  display: flex;
  gap: 36px;
}

@media (min-width: 575.98px) {
  .displayMenu {
    display: none;
  }
}

@media (max-width: 575.98px) {

  .header__container {
    flex-wrap: wrap;
  }

  .header__container .header__seeker-container {
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
  }

  .header__seeker-container .header__input {
    width: 310px;
    height: 40px;
    border-radius: 4px 0px 0px 4px;
    border: none;
  }

  .header__title {
    justify-content: center;
    width: 280px;
    display: flex;
    margin-bottom: 20px;
    padding: 0;
    padding-left: 25px;
  }

  .header__container .header__link-text {
    width: auto;
  }

  .link-text__short {
    padding-right: 6px;
    padding-left: 0px;
  }

  .header {
    height: 250px;
  }

  .navbar {
    flex-wrap: wrap;
    padding: 0;
  }

  .navbar .navbar__links {
    display: none;
    gap: 25px;
    margin: 20px auto;
  }

  .navbar__menu-label {
    display: block;
  }

  .link-text__long {
    display: none;
  }

  .header__link-text {
    width: 100px;
  }

  .navbar__container-session {
    margin: 0 auto;
  }

  .loginavbar__session-links {
    margin-top: 1px;
  }

  .link-button {
    text-align: center;
    padding: 10px;

  }

  .container-products {
    display: block;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
  }

  .description-product {
    padding-bottom: 25px;
  }

  .info-product {
    width: 300px;
  }

  .container-img-cocooil {
    text-align: center;
    position: relative;
    width: 100%;
    height: 245px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
  }


  .img-cocooil {
    width: 335px;
  }

  .container-info-products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;

  }

  .img-air {
    width: 165px;
  }

  .info-product {
    width: 165px;
  }

  .header__link-icon {
    margin-top: 0;
  }

  .categories {
    width: 94%;
    padding-left: 25px;
    padding-right: 0;
  }

  .contenedor-slider {
    overflow-x: auto;
    text-align: center;
  }

  .product-1,
  .product-3 {
    margin-right: 0;
  }

  .list-1 {
    margin-bottom: 0;
  }

  .card-slider {
    margin-right: 0;
  }

  .information {
    padding-left: 0;
    padding-right: 0;
  }

  .icon-information {
    width: 70.589px;
    height: 98.72px;
    flex-shrink: 0;
    padding-top: 22px;
    padding-left: 7px;
  }

  .card-information {
    margin-bottom: 25px;
  }

  .container-information {
    gap: 25px;
    padding-left: 17px;

  }

  .text-information {
    width: 95px;
    padding-left: 5px;
  }

  .separation-line {
    display: none;
  }

  .explore {
    padding-left: 10px;
    padding-right: 10px;
  }

  .container-explore {
    flex-wrap: wrap;
    gap: 30px;
  }

  .card-explore img {
    display: none;
  }

  .collection-floors {
    margin-right: 0;
  }

  .container-footer {
    padding-left: 0;
    padding-right: 0;
    height: 350px;
  }

  .hr-footer {
    margin-left: 20px;
    margin-right: 20px;
  }

  .menu-footer {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 40px;
  }
}