@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


:root {
  --color-secondary: #7D3C98;
  --dark-blue: #172755;
  --color-white: #FFFFFF;
  --brand-moving-orange: #D14D41;
  --layout-stone-grey: #6C6B6A;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

body {
  min-height: 100%;
  background-color: #F5F5F5;
}

/* Start Header section */
.header {
  top: 0%;
  left: 0%;
  padding-top: 50px;
  height: 140px;
  background-color: #0b57a2;
}

.header__container {
  display: flex;
  justify-content: center;

}

.header__title .icon-title {
  color: white;
  padding-right: 30px;

}

.header__seeker-container {
  width: 30%;
  height: 40px;
  display: flex;
}

.header__input {
  width: 350px;
  height: 40px;
  border-radius: 4px 0px 0px 4px;
  border: none;
}

.header__seeker-button-container {
  display: inline-flex;
  height: 42px;
  padding: 13px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 0px 4px 4px 0px;
  background: #EF2A82;
}


.header__links {
  display: flex;
  padding-left: 20px;
  padding-right: 10px;
  height: 40px;
  padding-top: 5px;
}

.header__link-text {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 5px;
  height: 40px;
  width: 165px;
}

.link-text__long {
  color: #FFCCB4;
  text-decoration: none;
}

.link-text__short {
  text-decoration: none;
  color: white;
  padding-top: 5px;
}

.link-separator {
  width: 0px;
  height: 40px;
}

.header__link-icon {
  height: 40px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 10px;
  margin-top: 5px;
}

.icon-link {
  color: white;
  font-size: 26px;
  margin-right: 5px;
}



/* END Header section */


/* START NAVBAR section */
.menu-toggle {
  display: none;
}

.navbar {
  background-color: #172755;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 250px;
  padding-right: 120PX;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar__links {
  display: flex;
  list-style: none;
}

.navbar__links a {
  padding: 20px;
  color: #ccd1d175;
  text-decoration: none;
}

.navbar__container-session {
  display: flex;
  margin-right: 150px;
}

.navbar__session-links {
  padding: 25px;
  color: #8794BA;
  font-size: 16px;
  text-decoration: none;
}

.link-button {
  display: inline-flex;
  height: 40px;
  padding: 10px 53px;
  flex-shrink: 0;
  border-radius: 68px;
  border: 1px solid #465B95;
  margin-top: 15px;
}

.navbar__menu-label {
  padding: 10px;
  background-color: #172755;
  cursor: pointer;
  display: none;
  margin: 0 auto;
  color: white;
}

.navbar__menu-label:hover {
  font-weight: bold;
}

.menu-toggle:checked+.navbar .navbar__links {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.menu-toggle:checked+.navbar .navbar__menu-label {
  display: block;
}

/* END NAVBAR section */

/* Start Products section */

.products__container {
  padding-left: 75px;
  padding-right: 100px;
  padding-top: 40px;
  display: flex;
}

.products__slider-container {
  position: relative;
  width: 54%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider__img-container {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity .5s;
}

.products__slider-item--1, .products__slider-item--2  {
  opacity: 0;
}


.products__slider-item--1:checked~.products__slider-container .slider__img-item--1,
.products__slider-item--2:checked~.products__slider-container .slider__img-item--2 {
  opacity: 1;
}



.products__img-slider {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.127);
}

.products__slider-button {
  position: absolute;
  top: 50%;
  font-size: 19px;
  color: var(--layout-stone-grey);
  background-color: var(--color-white);
  border: none;
  padding: 9px;
  border-radius: 50%;
  border: solid 1px var(--layout-stone-grey);
  z-index: 1;
  width: 43px;
}

.products__slider-button--left {
  left: 10px;
  transform: translateY(-50%);
}

.products__slider-button--right {
  right: 10px;
  transform: translateY(-50%);
}

.products__cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  justify-content: center;
}


.products__card {
  width: 40%;
  box-shadow: 0px 0px 4px 0px rgba(54, 53, 53, 0.05);
  border-radius: 8px;
  border: 1px solid var(--color-white);
  background-color: white;
}

.card__list--1 {
  margin-bottom: 25px;
}

.crad__column--1 {
  margin-right: 25px;
}

.products__card-img {
  display: flex;
  width: 100%;
  height: 120px;
  text-align: center;
}

.card__star-text {
  color: var(--layout-stone-grey);
}

.products__information-container {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  flex-wrap: wrap;
}

.product__card-icon--entrega {
  display: flex;
  justify-content: space-between;
  border-radius: 4px 0px 0px 4px;
  background: #FAEDEC;
  padding: 6px 4px;
  gap: 6px;

}

.icon__entrega-text {
  color: var(--brand-moving-orange);
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
}


.product__card-description {
  padding-left: 10px;
  padding-bottom: 50px;
  padding-top: 10px;
}

.product__card-title {
  font-size: 10px;
  color: #A6A6A6;
}

.product__card-text {
  font-size: 16px;
  color: var(--layout-stone-grey);
}

.product__card-price {
  font-weight: bold;
  color: #363535;
  font-weight: 700;
  font-size: 20px;
}
/* END Products section */



/* START Categories section */
.categories {
  margin-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 65px;
  width: 90%;
}

.categories__title {
  font-size: 22px;
  margin-bottom: 22px;
  font-weight: 600;
}

.categories__container {
  white-space: nowrap;
}

.categories__cards {
  display: inline-block;
  margin-right: 19px;
  border-radius: 8px;
  border: 1px solid #D8D8D8;
  background-color: white;
  box-shadow: 0px 4px 16px 0px rgba(54, 53, 53, 0.10);
  width: 278px;
}

.categories__card-img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.categories__card-text {
  font-size: 17px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  padding: 9px;
  text-shadow: 0px 0px 4px rgba(54, 53, 53, 0.05);
}
/* END Categories section */

/* start Information section */
.information {
  background-color: white;
  padding-top: 60px;
  padding-left: 160px;
  padding-right: 180px;
  padding-bottom: 60px;
}

.information__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.information__card-container {
  display: flex;
}

.information__card-text {
  padding-left: 15px;
}

.information__card-title {
  padding-bottom: 40px;
}

.information__card-link {
  color: var(--brand-moving-orange);
  font-weight: 600;
  letter-spacing: -0.14px;
  font-size: 14px;
}

.information__card-icon {
  width: 86.589px;
  height: 103.72px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #ffccb46d;
  padding-top: 25px;
  padding-left: 18px;
}
/* END information section */


/* START featured section */

.featured {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.featured__title {
  color: #363535;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.featured__container {
  display: flex;
  gap: 20px;
}

.featured__products{
  width: 60%;
  background-color: var(--color-white);
  box-shadow: 0px 0px 4px 0px rgba(54, 53, 53, 0.05);
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.featured__product--line-bottom{
  border-bottom: solid 1px #a6a6a660;
  padding-bottom: 10px;
}

.featured__product--line-left {
  border-right: solid 1px #a6a6a660;
}

.featured__product {
  padding-top: 20px;
  padding-left: 30px;
  width: 230px;
}

.featured__product--spaced-top {
  padding-top: 35px;
}

.featured__product-info {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #05B999;
  width: 100px;
  border-radius: 4px 4px 4px 4px;
  color: var(--color-white);
  font-weight: 400;

}

.featured__product-info--red {
  background-color: #EC4C4C;
  width: 80px;
}

.featured__product-description {
  color: #716C6C;
  font-size: 16px;
  margin-bottom: 20px;
  padding-right: 10px;
}

.featured__product-price {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  font-weight: 700;
}

.featured__product-price--orange {
  color: var(--brand-moving-orange);

}

.featured__product-price--gray {
  font-size: 13px;
  font-weight: 300;
  color: #A6A6A6;
  font-style: italic;
  text-decoration-line: strikethrough;
}

.featured__product-detail {
  border: 2px solid var(--brand-moving-orange);
  border-radius: 12px;
  width: 40%;
  background-color: var(--color-white);
  box-shadow: 0px 4px 12px 0px rgba(209, 77, 65, 0.10);
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.featured__product-detail-info {
  padding-top: 20px;
}

.featured__product-detail-container {
  display: flex;
}

.product__detail-envio {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  color: var(--layout-stone-grey);
}

.product__detail-envio--grey {
  color: #D8D8D8
}

.product__detail-punctuation {
  display: flex;
  color: #716C6C;
  gap: 2px;
  font-weight: 400;
}

.product__detail-caption {
  text-decoration: none;
  color: #A6A6A6;
  font-size: 12px;
}

.product__detail-name {
  color: var(--layout-stone-grey);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 60px;
}

.product__detail-price {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: solid 1px #d8d8d805;
}

.product__detail-container-button {
  display: flex;
  justify-content: end;
  padding-right: 10px;
}

.product__detail-button {
  width: 260px;
  height: 70px;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 25px;
  border-radius: 5px;
  background-color: var(--brand-moving-orange);
  gap: 6px;
  border: none;
  margin-top: 30px;
  cursor: pointer;
}

.product--top-spacing {
  margin-top: 20px;
}

/* END featured section */

.explore {
  padding-top: 60px;
  padding-right: 90px;
  padding-left: 90px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.container-explore {
  display: flex;
}

.card-explore {
  width: 663px;
  height: 400px;
  box-shadow: 0px 4px 12px 0px rgba(54, 53, 53, 0.15);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
}

.card-explore img {
  border-radius: 12px;
}

.collection-floors {
  margin-right: 19px;
  background: linear-gradient(180deg, #0CEACF 0%, #0BA18F 100%);
}

.collection-paint {
  background: linear-gradient(180deg, #F7CB20 0%, #F8A904 55.73%);
}

.card-explore-text {
  padding-top: 30px;
  padding-left: 25px;
}

.card-explore-subtitle {
  color: var(--color-white);
  font-size: 20px;
  opacity: 0.8;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.2px;
  margin-bottom: 16px;
}

.card-explore-title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: -0.48px;
  padding-bottom: 70px;
}

.card-explore-button {
  display: flex;
  width: 276.458px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.30);
  border: none;
  color: white;
}

.grup {
  display: flex;
  align-items: end;
}

footer {
  margin-top: 80px;
}

.footer-first-line {
  width: 100%;
  height: 30px;
  background-color: #EF2A82;
}

.container-footer {
  width: 100%;
  height: 277px;
  background-color: var(--dark-blue);
  flex-shrink: 0;
  padding-top: 100px;
  padding-left: 180px;
  padding-right: 180px;
}

.hr-footer {
  color: var(--color-white);
  opacity: 0.2;
}

.menu-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.menu-footer-links {
  display: flex;
  color: var(--text-secondary, #8794BA);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 36px;
}

.menu-footer-networks {
  display: flex;
  gap: 36px;
}


@media (max-width: 575.98px) {

  .header__container {
    flex-wrap: wrap;
  }

  .header__container .header__seeker-container {
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
  }

  .header__seeker-container .header__input {
    width: 310px;
    height: 40px;
    border-radius: 4px 0px 0px 4px;
    border: none;
  }

  .header__title {
    justify-content: center;
    width: 280px;
    display: flex;
    margin-bottom: 20px;
    padding: 0;
    padding-left: 25px;
  }

  .header__container .header__link-text {
    width: auto;
  }

  .link-text__short {
    padding-right: 6px;
    padding-left: 0px;
  }

  .header {
    height: 250px;
  }

  .navbar {
    flex-wrap: wrap;
    padding: 0;
  }

  .navbar .navbar__links {
    display: none;
    gap: 25px;
    margin: 20px auto;
  }

  .navbar__menu-label {
    display: block;
  }

  .link-text__long {
    display: none;
  }

  .header__link-text {
    width: 100px;
  }

  .navbar__container-session {
    margin: 0 auto;
  }

  .loginavbar__session-links {
    margin-top: 1px;
  }

  .link-button {
    text-align: center;
    padding: 10px;

  }

  .products__container {
    display: block;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
  }

  .product__card-description {
    padding-bottom: 25px;
  }

  .products__img-slider{
    width: 90%;
  }

  .products__card {
    width: 300px;
  }

  .products__slider-container {
    text-align: center;
    position: relative;
    width: 100%;
    height: 245px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
  }


  .img-cocooil {
    width: 335px;
  }

  .products__cards-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;

  }

  .img-air {
    width: 163px;
  }

  .products__card {
    width: 165px;
  }

  .header__link-icon {
    margin-top: 0;
  }

  .categories {
    width: 94%;
    padding-left: 25px;
    padding-right: 0;
  }

  .categories__container {
    overflow-x: auto;
    text-align: center;
  }

  .crad__column--1 {
    margin-right: 0;
  }

  .card__list--1 {
    margin-bottom: 0;
  }

  .categories__cards {
    margin-right: 6px;

  }

  .information {
    padding-left: 0;
    padding-right: 0;
  }

  .information__card-icon {
    width: 70.589px;
    height: 98.72px;
    flex-shrink: 0;
    padding-top: 22px;
    padding-left: 7px;
  }

  .information__card-container {
    margin-bottom: 25px;
  }

  .information__container {
    gap: 25px;
    padding-left: 17px;

  }

  .card__star-icon {
    display: none;
  }

  .card__star-text {
    display: none;
  }

  .products__information-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }


  .information__card-text {
    width: 95px;
    padding-left: 5px;
  }

  .separation-line {
    display: none;
  }

  .featured {
    padding: 0;
    padding-top: 30px;
  }

  .featured__container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .featured__product--line-left {
    border-right: var(--color-white);
  }

  .featured__products {
    width: 100%;
    padding-left: 6px;
  }

  .featured__product {
    padding-left: 10px;
    width: 174px;
  }

  .featured__product-detail {
    width: 100%;
  }

  .featured__product-img {
    width: 120px;
  } 

  .featured__product--spaced-top {
    padding-top: 30px;
  }

  .line-responsive-right {
    border-right: solid 1px #a6a6a660;
  }

  .line-responsive-down {
    border-bottom: solid 1px #a6a6a660;
  }

  .featured__product-detail{
    margin-right: 10px;
    margin-left: 10px;
  }

  .featured__product-img--spacing-boton {
    margin-bottom: 15px;
  }

  .featured__product-description--spacing-boton {
    margin-bottom: 35px;
  }

  .product__detail-img {
    width: 160px;
  }

  .product__detail-container-button {
    justify-content: center;
    padding: 0;
    padding-bottom: 10px;
  }

  .product__detail-name {
    margin-bottom: 35px;
  }

  .explore {
    padding-left: 10px;
    padding-right: 10px;
  }

  .container-explore {
    flex-wrap: wrap;
    gap: 30px;
  }

  .card-explore img {
    display: none;
  }

  .collection-floors {
    margin-right: 0;
  }

  .container-footer {
    padding-left: 0;
    padding-right: 0;
    height: 350px;
  }

  .hr-footer {
    margin-left: 20px;
    margin-right: 20px;
  }

  .menu-footer {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 40px;
  }
}