:root {
  --color-secondary: #7D3C98;
  --dark-blue: #172755;
  --color-white: #FFFFFF;
  --brand-moving-orange: #D14D41;
  --layout-stone-grey: #6C6B6A;
  --violet: #EF2A82;
  --graphite: #A6A6A6;
  --layout-carbon-black: #363535;
}

.product .container {
  padding-left: 90px;
  padding-right: 90px;
}

.product__breadcrumbs {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 10px;
}

.product__breadcrumbs-text {
  text-decoration: none;
  color: var(--graphite);
  font-size: 14px;
  font-weight: 400;
}

.product__container {
  display: flex;
  gap: 30px;
}

.product__slider-container {
  background-color: var(--color-white);
  width: 60%;
  padding-bottom: 30px;
  border-radius: 12px;
  box-shadow: 0px 0px 4px 0px rgba(54, 53, 53, 0.05);
}

.swiper--view-img {
  text-align: center;
  width: 600px;
  height: 350px;
}

.swiper--preview-img .swiper-wrapper {
  width: 90%;
}

.swiper--preview-img .swiper-slide {
  opacity: 0.2;
  width: 50px;
}

.swiper--preview-img .swiper-slide-thumb-active .swiper-slide-img{
  border-bottom: 7px solid var(--violet);
  border-radius: 5px;

}

.swiper--preview-img .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper--preview-img {
  width: 100%;
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.product__detail {
  border-radius: 12px;
  width: 40%;

  box-shadow: 0px 4px 16px 0px rgba(54, 53, 53, 0.10);
}

.product__detail-container {
  background-color: var(--color-white);
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 12px 12px 0 0;
  padding-bottom: 25px;
}

.product__detail-networks {
  color: var(--graphite);
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.product__detail-title {
  display: flex;
  margin-right: 20px;
}

.product__detail-title-text{
  color: var(--layout-carbon-black);
  font-size: 28px;
  font-weight: 700;
  padding-right: 50px;
  line-height: 36px;
}

.product__detail-title-icon {
  border-style: none;
  margin-top: 30px;
  background-color: var(--color-white);
  cursor: pointer;
}


.product__valuation {
  display: flex;
  margin-top: 10px;
}

.product__valuation-punctuation {
  color: var(--layout-stone-grey);
  padding-left: 4px;
  padding-top: 2px;
  font-size: 20px;
  font-weight: 300;
}

.product__valuation-opinion {
  color: var(--violet);
  font-size: 14px;
  font-weight: 500;
  padding-top: 5px;
  margin-left: 10px;
  text-decoration: none;
}

.product__valuation-button {
  margin-left: 45px;
  border: none;
  background-color: var(--violet);
  color: var(--color-white);
  padding-left: 14px;
  padding-right: 14px;
  font-weight: 500;
  border-radius: 5px 0px 0px 5px;
}

.product__price {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  margin-bottom: 70px;
}

.product__price-now {
  color: var(--violet);
  font-size: 46px;
  font-weight: 600;
}

.product__price-before {
  color: var(--graphite);
  font-size: 34px;
  margin-top: 9px;
  font-style: italic;
  text-decoration-line: line-through;
}

.product__detail-link-info {
  color: var(--violet);
  font-size: 14px;
  font-weight: 400;
}

.product__detail-line {
  margin-top: 18px;
  margin-bottom: 10px;
  color: #D8D8D8;
}

.product__detail-shipment-text {
  color: #716C6C;
}

.product__detail-shipment-container-buttons {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}

.product__detail-shipment-button {
  background-color: var(--color-white);
  color: var(--layout-carbon-black);
  font-size: 14px;
  padding: 15px 18px;
  border: 1px solid var(--graphite);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.product__add-card {
  background-color: #F5F5F5;
  border-radius: 0 0 12px 12px;
  display: flex;
  gap: 30px;
  padding: 26px 0 45px 20px;
}

.product__add-card-counter {
  display: flex;
  border: solid 2px #716c6c24;
  border-radius: 10px;
}

.product__add-card-counter-button {
  background-color: var(--color-white);
  border-style: none;
  padding: 6px;
  cursor: pointer;
}

.product__add-card-counter-button--more-add {
  border-radius: 0 10px 10px 0;
  border-left: solid 2px #716c6c24;
}

.product__add-card-counter-button--less-add {
  border-radius: 10px 0 0 10px;
  border-right: solid 2px #716c6c24;
}

.product__add-card-number {
  border: none;
  padding-left: 18px;
  padding-right: 18px;
  color: #a6a4a4;
  display: flex;
  align-items: center;
  font-size: 18px;
  width: 60px;
  justify-content: center;
  background-color: #F5F5F5;
}

.product__add-card-button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--violet);
  color: var(--color-white);
  border-radius: 8px;
  border-style: none;
  padding: 18px 14px 18px 14px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}


@media (max-width: 575.98px) {

  .product .container {
    padding: 0;
  }

  .product__container {
    flex-wrap: wrap;
  }

  .product__breadcrumbs {
    padding: 30px 25px 30px 25px;
  }

  .product__slider-container {
    width: 100%;
  }

  .js-swiper--view-img {
    width: 300px;
    height: 300px;
  }

  .swiper--preview-img {
    width: 100%;
  }

  .swiper--preview-img .swiper-slide-thumb-active .swiper-slide-img {
    border-radius: 28px;
    border-bottom: 28px solid var(--violet);
  }
  
  .product__detail {
    width: 100%;
  }

  .product__detail-container{
    border-radius: 12px 12px 12px 12px;
  }

  .js-swiper--view-img .swiper-wrapper .swiper-slide .swiper-slide-img {
    width: 300px;
  }

  .product__add-card {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 25px 20px 35px 20px;
    box-shadow: 0 -4px 8px #0000001a; 
    justify-content: space-between;
    background-color: var(--color-white);
  }

  .product__add-card-number {
    width: 56px;
  }

  .product__add-card-button {
    padding: 16px 14px 16px 14px;
  }

  .product__valuation-opinion {
    display: none;
  }
}